
body {
	background: $backgroundColor;
	color: $mediumGrey;
	font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Helvetica, arial, sans-serif;
	font-size: 16px;

	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

* { -webkit-user-select: none; }

.screen {
	display: none;
	line-height: 3em;
	padding: 0 0.75em;
}

.reconciled-balance {
	float: right;
}

.transaction-list {
	border-top: 1px solid darken($backgroundColor, 8%);
}

.transaction-list li:nth-child(even) {
	background-color: darken($backgroundColor, 3%);
}

.transaction {
	border-bottom: 1px solid darken($backgroundColor, 8%);
	line-height: 3.5em;
	padding: 0 0.75em;
}

.transaction-title {
	color: $darkGrey;
	font-weight: bold;
	text-transform: uppercase;
}

.transaction-date {
	margin-left: 0.5em;
	color: $lightGrey;
	font-size: 0.75em;
}

.transaction-amount {
	float: right;
	font-size: 0.85em;
}

.icon-amount-state {
	float: right;
	margin-left: 0.5em;
	color: $lightGrey;
	font-size: 0.75em;
}

.credit .transaction-amount {
	color: #88bb88;
}

.debit .transaction-amount {
	color: #bb8888;
}

.reconciled .transaction-amount {
	text-decoration: line-through;
}