
body {
	background: $backgroundColor;
	color: $mediumGrey;
	font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Helvetica, arial, sans-serif;
	font-size: 16px;

	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
}

* { -webkit-user-select: none; }

a {
	color: inherit;
	text-decoration: none;
}

.account-toolbar {
	position: relative;
	line-height: 3.5em;

	color: $darkGrey;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
	.add-transaction {
		display: block;
		width: 4em;

		position: absolute;
		top: 0;
		right: 0;
	}

.screen {
	padding: 0 0.75em;

	background-color: lighten($creditColor, 50%);
	border-top: 1px solid lighten($creditColor, 40%);
	border-bottom: 1px solid lighten($creditColor, 40%);
	color: $creditColor;
	line-height: 3.5em;
}

.safe-to-spend {
	font-size: 0.75em;
	margin-left: 0.5em;
}

.available-balance {
	font-weight: bold;
}

.reconciled-balance {
	float: right;
}
