
.transaction-list {
	background-color: $lightGrey;
	list-style: none;
}

	.transaction-list li {
		background-color: $backgroundColor;
	}

	.transaction-list li:nth-child(even) {
		background-color: $backgroundColorAlt;
	}

	.transaction {
		padding: 0 0.75em;

		position: relative;

		border-bottom: 1px solid $borderColor;
		line-height: 3.5em;

		-webkit-transition: -webkit-transform 300ms $easeOutExpo;
	}

		.transaction-title {
			color: $darkGrey;
			font-weight: bold;
			text-transform: uppercase;
		}

		.transaction-date {
			margin-left: 0.5em;

			color: $lightGrey;
			font-size: 0.75em;
		}

		.transaction-amount {
			float: right;

			font-size: 0.85em;
		}

		.transaction-status {
			display: inline-block;
			width:  0.3em;
			height: 0.3em;

			position: relative;
			margin-left: 0.1em;
			top: -0.1em;

			border: 0.2em solid $borderColor;
			border-radius: 0.5em;

			-webkit-transition: background-color 300ms 100ms;
		}

			.credit .transaction-status { border-color: $creditColor; }
			.credit.reconciled .transaction-status { background-color: $creditColor; }
			.debit .transaction-status { border-color: $debitColor; }
			.debit.reconciled .transaction-status { background-color: $debitColor; }

			.feedback-reconciled,
			.feedback-unreconciled { -webkit-animation: pulse 150ms $easeOutExpo; }

			@-webkit-keyframes pulse {
				0%   { -webkit-transform: scale(1); }
				50%  { -webkit-transform: scale(2); }
				100% { -webkit-transform: scale(1); }
			}
