
$backgroundColor: #fff;
$backgroundColorAlt: darken($backgroundColor, 2%);
$borderColor: darken($backgroundColor, 8%);

$darkGrey: #444;
$mediumGrey: #888;
$lightGrey: #bbb;

$creditColor: #339966;
$debitColor: #cc3355;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);


@import "reset";
@import "transactions";
@import "main";
